.hide-container {
    opacity: 0;
    transform: translatey(20%);
    transition: .6s ease;
}


.reveal {
    opacity: 1;
    transform: translatey(0);
    transition: .6s ease;
}

.text {
    animation: normal-fade-in .5s;
}


.images {
    animation: normal-fade-in .5s;
}



@keyframes normal-fade-in {
    0% {
        opacity: 0;
        transform: translatey(30%) scale(.9);
    }

    100% {
        opacity: 1;
        transform: translatey(0) scale(1);
    }
}







